.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;

  > a {
    color: #fff;
    margin: 0 10px;
    transition: color 0.4s ease-in-out;
    padding: 20px;
    
    &:hover,
    &.active {
      color: #c353c3;
    }
  }
}
